*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins","Actor","Adamina";
    font-weight: 400;
    width: 100%;
}
h2 span {
    color: #000;
}
a{
    text-decoration:none;
}
ul{
    display:flex;
    align-items: center;
    flex-direction: row;
    float: right;
    clear: both;
}
li{
    text-decoration: none;
    list-style: none;
    margin: 20px;
    font-weight: 700;
}
#pg1head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header {
    background-image: url(/assets/images/moving\ 1.png);
    height: max-content;
    background-size: cover;
    background-repeat: repeat;
    
}
.header1 {
height: 400px;
width: 400px;
margin-top: 50px;
}
.p1 {
    color: #FAFF00;
    align-items: center;
    font-size: xx-large;
    text-align: center;
}
.p2 {
    color: whitesmoke;
    align-items: center;
    text-align: center;
    font-size: larger;
}
.hero_image {
    height: 500px;
    width: 500px;
    margin-top: 20px;
}
.hero_container {
    display: flex;
    flex-direction: row;
}
.hero_text {
    text-align: center;
    font-size: xx-large;
    align-items: center;
    margin-top: 150px;
    margin-left: 20px;
}
.container {
    margin-top: 20px;
}
.moverscontainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.moverspics {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.moverspicss {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.moverspicsp {
    text-align: center;
    position: relative;
    width: 25%;
}
.btnspics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 25%;
}
.btn {
    border: 1px solid;
}
.chapchap12 {
width: 30%;
}
.movebtn {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #000;
}
.btnbtn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    font-size: x-large;
}
#empathy {
    color:  #FAFF00;
}
.movebtn1 {
    color: white;
}
.last12 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#columnhead {
color: white;
}
#columnp {
color: white;
}
#icons {
    color: white;
}
#login {
    background-color: #FAFF00;
    color: #000;
}
#login2 {
    color: #FAFF00;
    background-color: #000;
}
#abc {
    color: white;
}
#btn11 {
    color: #FAFF00;
    background-color: black;
    border-top-right-radius: 15px;
}
.pg2class1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.pgheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
.moderndiv {
    margin-left: 50px;
}
.fosterdiv {
    margin-right: 50px;
}
.nav {
    margin-right: 50px;
}
.pgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.pp2imgg {
    background-size: 200px 200px;
    margin-top: 20px;
}
.pgform {
    margin-top: 100px;
    border: 1px solid;
    border-color: grey;
    border-radius: 8px;
}
#kayley {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid;
    background-color: grey;
    border-color: grey;
}
.pgformbtn {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid;
    border-color: grey;
}
.pgcontainer1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}
.pgsection3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.pgcontainer2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    margin-left: 20px;
    border: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: grey;
}
.pg2links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: grey;
    margin-left: 20px;
}
.sndpgbtns {
    border: 1px solid;
    border-color: grey;
}
.description {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid;
    border-color: grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.descriptpg {
    margin-top: 20px;
    border: 1px solid;
    border-color: grey;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.pgcontainer3 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}
.features {
    border: 1px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-color: grey;
    margin-left: 20px;
}
.conditioning {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: grey;
    justify-content: space-between;
    margin-left: 20px;
}
#lid {
    list-style: symbols(☑ );
    color: grey;
}
.heed1 {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.heed123 {
margin-top: 20px;
margin-bottom: 20px;
}
.heed_images {
    display: flex;
    flex-direction: row;
    float: inline-start;
    justify-content: space-between;
}
.moveimg {
    width: 40%;
}
.pheed {
    align-items: center;
    margin-left: 30px;
}
.heeddd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    border: 1px solid;
}
.heedbtn1 {
  border: 1px solid;
  border-color: grey;  
}
.heedbtn2 {
    border: 1px solid;
    border-color: grey;  
  }
  .heedbtn3 {
    border: 1px solid;
    border-color: grey;  
  }
  .heedbtn4 {
    border: 1px solid;
    border-color: grey;  
  }
  .pg2last {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      background-color: black;
  }
  .dreams {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .pg2icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  #ulid {
      display: flex;
      flex-direction: column;
  }
  .idp {
      color: white;
      font-size: x-large;
  }
  #emphasize {
      color: #FAFF00;
      font-size: x-large;
  }
  .lastlink2 {
      color: black;
      font-size: x-large;
      background-color: #FAFF00;
      border-bottom-right-radius: 8px;
  }
  #empth {
      color: white;
  }
  #lasthead {
      color: white;
  }
  #ulid > li {
      color: white;
  }
  #icondd {
      color: white;
  }
  #foster {
      color: white;
      font-size: medium;
  }
  #modern {
      color: white;
      font-size: x-large;
  }
  .blink {
      color: white;
  }
  .pglink {
      color: black;
      background-color: #FAFF00;
  }
  #pit {
      color: white;
  }
  .pglink1 {
      color: #FAFF00;
  }
  #learnlink {
    color: white;
    background-color: black;
    border-top-right-radius: 8px;
  }
  #pit2 {
      color: #FAFF00;
  }
  .pgsection1 > .pgcontainer > .pgimg1 >img {
    height: 800px;
    width: 800px;
  }
  .form {
      height: 800px;
      width: 800px;
  }
